<div>
  <h2 id="page-heading" data-cy="OrderHeading">
    <span marketneighborTranslate="marketNeighborApp.order.home.title">Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span marketneighborTranslate="marketNeighborApp.order.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order"
        [routerLink]="['/order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span marketneighborTranslate="marketNeighborApp.order.home.createLabel"> Create a new Order </span>
      </button>
    </div>
  </h2>

  <marketneighbor-alert-error></marketneighbor-alert-error>

  <marketneighbor-alert></marketneighbor-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
    <span marketneighborTranslate="marketNeighborApp.order.home.notFound">No orders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr marketneighborSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" marketneighborSortBy="id">
            <span marketneighborTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" marketneighborSortBy="date">
            <span marketneighborTranslate="marketNeighborApp.order.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" marketneighborSortBy="status">
            <span marketneighborTranslate="marketNeighborApp.order.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" marketneighborSortBy="total">
            <span marketneighborTranslate="marketNeighborApp.order.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" marketneighborSortBy="client.documentNumber">
            <span marketneighborTranslate="marketNeighborApp.order.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a>
          </td>
          <td>{{ order.date | formatMediumDate }}</td>
          <td marketneighborTranslate="{{ 'marketNeighborApp.OrderStatus.' + order.status }}">{{ order.status }}</td>
          <td>{{ order.total }}</td>
          <td>
            <div *ngIf="order.client">
              <a [routerLink]="['/client', order.client?.id, 'view']">{{ order.client?.documentNumber }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/order', order.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" marketneighborTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" marketneighborTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(order)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" marketneighborTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="orders && orders.length > 0">
    <div class="d-flex justify-content-center">
      <marketneighbor-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></marketneighbor-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
