<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="marketneighbor-order-details-heading"
        data-cy="OrderDetailsCreateUpdateHeading"
        marketneighborTranslate="marketNeighborApp.orderDetails.home.createOrEditLabel"
      >
        Create or edit a Order Details
      </h2>

      <div>
        <marketneighbor-alert-error></marketneighbor-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" marketneighborTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" marketneighborTranslate="marketNeighborApp.orderDetails.price" for="field_price">Price</label>
          <input type="text" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('price')?.errors?.required"
              marketneighborTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('price')?.errors?.maxlength"
              marketneighborTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" marketneighborTranslate="marketNeighborApp.orderDetails.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('amount')?.errors?.required"
              marketneighborTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('amount')?.errors?.number"
              marketneighborTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" marketneighborTranslate="marketNeighborApp.orderDetails.order" for="field_order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="orderOption.id === editForm.get('order')!.value?.id ? editForm.get('order')!.value : orderOption"
              *ngFor="let orderOption of ordersSharedCollection; trackBy: trackOrderById"
            >
              {{ orderOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" marketneighborTranslate="marketNeighborApp.orderDetails.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['product'])?.errors?.required"
            marketneighborTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span marketneighborTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span marketneighborTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
