<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="documentType">
      <h2 data-cy="documentTypeDetailsHeading">
        <span marketneighborTranslate="marketNeighborApp.documentType.detail.title">Document Type</span>
      </h2>

      <hr />

      <marketneighbor-alert-error></marketneighbor-alert-error>

      <marketneighbor-alert></marketneighbor-alert>

      <dl class="row-md jh-entity-details">
        <dt><span marketneighborTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ documentType.id }}</span>
        </dd>
        <dt><span marketneighborTranslate="marketNeighborApp.documentType.initials">Initials</span></dt>
        <dd>
          <span>{{ documentType.initials }}</span>
        </dd>
        <dt><span marketneighborTranslate="marketNeighborApp.documentType.documentName">Document Name</span></dt>
        <dd>
          <span>{{ documentType.documentName }}</span>
        </dd>
        <dt><span marketneighborTranslate="marketNeighborApp.documentType.status">Status</span></dt>
        <dd>
          <span marketneighborTranslate="{{ 'marketNeighborApp.StateDocument.' + documentType.status }}">{{ documentType.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span marketneighborTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/document-type', documentType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span marketneighborTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
